* text=auto
# Git will always convert line endings to LF on checkout.
*.dart text eol=lf
*.cc text eol=lf
*.h text eol=lf
*.cmake text eol=lf
*.swift text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.lock text eol=lf
*.md text eol=lf
*.json text eol=lf
*.html text eol=lf
